// Файл обнуляющих стилей
@import "nullstyle.scss";

$maxWidth: 1920;
$maxWidthContainer: 1160;

@mixin adaptiv-value ($property, $startSize, $minSize, $type) {
	$addSize: $startSize - $minSize;

	@if $type ==1 {
		//Только если меньше контейнера
		#{$property}: $startSize + px;

		@media (max-width : #{$maxWidthContainer + px}) {
			#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
		}
	}

	@else if $type ==2 {
		//Только если больше контейнера
		#{$property}: $startSize + px;

		@media (min-width: #{$maxWidthContainer + px}) {
			#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
		}
	}

	@else {
		//Всегда
		#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
	}
}

body,
html {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background: linear-gradient(45deg, rgb(18, 18, 151), rgb(255, 144, 163));
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	user-select: none;
}

.wrapper {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	height: 100%;
}

.content {
	flex: 1 1 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	max-width: 970px;
	margin: 0 auto;
	padding: 0 10px;

	// &_m {
	// 	height: 100%;
	// }
}


.calculator {
	// @include adaptiv-value('margin-top', 70, 0, 1);

	text-align: center;

	&__header {
		text-transform: uppercase;
		@include adaptiv-value('font-size', 30, 30, 1);
		@include adaptiv-value('letter-spacing', 4, 1, 1);
		font-weight: 600;
		background: linear-gradient(90deg, rgb(254, 254, 254) 30%, rgb(255, 127, 225));
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	&__wrapper {
		@include adaptiv-value('width', 400, 300, 1);
		@include adaptiv-value('margin-top', 50, 25, 1);
	}

	&__input {
		position: relative;
		width: 93%;
		@include adaptiv-value('height', 100, 85, 1);
		border-radius: 5px;
		background-color: rgb(255, 255, 255);
		padding: 0px 10px;
		text-align: right;
		@include adaptiv-value('font-size', 28, 28, 1);
	}

	&__panel {
		@include adaptiv-value('margin-top', 10, 10, 1);
	}

	&__row {
		display: flex;
		justify-content: center;
	}

	&__button {
		cursor: pointer;
		flex: 0 1 25%;
		@include adaptiv-value('width', 70, 55, 1);
		@include adaptiv-value('height', 70, 55, 1);
		@include adaptiv-value('margin-top', 7, 5, 1);
		@include adaptiv-value('margin-bottom', 7, 5, 1);
		@include adaptiv-value('margin-left', 13, 7, 1);
		@include adaptiv-value('margin-right', 13, 7, 1);
		background-color: yellow;
		font-size: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all 0.3s ease 0s;

		@media(any-hover:hover) {
			&:hover {
				opacity: 0.7;
			}
		}

		&_lst {
			flex: 1 1 21%;
		}

		&_res {
			flex: 0 1 50%;
			border-radius: 10px;
			background-color: orangered;
			color: #fff;
		}

		&_sys {
			background-color: orangered;
			color: #fff;
			border-radius: 50%;
		}

		&_num {
			border-radius: 10px;
		}
	}

	&__result {}

}